body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:  700;
  }



.scroll {
    max-height: 70vh;
    overflow-y: scroll;
}

.url {
    word-wrap: break-word;
}

.idea-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.idea-link:hover {
    text-decoration: underline;
  }
 
  
.idea-link:visited {
    font-weight: normal;
}

.user-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.user-link:hover {
    text-decoration: underline;
}

.button-margin {
    margin-top: 15px;
}

.div-scroll {
    overflow-y: initial !important;
}

.inner-div-scroll {
    max-height: 72vh;
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .ms-lg-6 {
        margin-left: 6rem !important;
    }
    .me-lg-6 {
        margin-left: 6rem !important;
    }

    .ms-lg-10 {
        margin-left: 10rem !important;
    }
    .me-lg-10 {
        margin-right: 10rem !important;
    }

    .mt-lg-10 {
        margin-top: 10rem !important;
    }

    .ms-lg-20 {
        margin-left: 20rem !important;
    }
    .me-lg-20 {
        margin-right: 20rem !important;
    }

    .me-lg-60 {
        margin-right: 60rem !important;
    }
}

@media (min-width: 768px) {
    .full-hight {
        height: 90vh;
    }
}

.lego-img-settings {
    width: 80px;
    height: 80px;
    margin: 5px 5px 0 0;
}

.lego-img {
    width: 20px;
    height: 20px;
    margin: 2px 2px 0 0;
}

.idea-img {
    width: 600px;
    height: 250px;
    margin: 10px 60px;
}

.page-w {
    width: 800px;
}



