{% extends 'base.html' %}
{% block title %}All Ideas{% endblock %}

{% block body %}
  <form id="filter" action="/all-ideas">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <h1>All Ideas</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for an idea" name="search" value="{{ search if search else ''}}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="search"><i class="fa fa-search fa_custom fa-2x"></i></button>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4">
          <label for="sort">Sorted by</label>

          <select class="form-select-lg mb-3" name="sort" id="sort">
              <option value="latest" {% if sort=="latest" %} selected {% endif %}>Latest</option>
              <option value="votes" {% if sort=="votes" %} selected {% endif %}>Votes</option>
              <option value="relevance" {% if sort=="relevance" %} selected {% endif %}>Relevance</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          {% if session.get('user_id') %}
            <button class="btn btn-secondary btn-sm active add-idea">Add your idea</button>
          {% else %}
          <button class="btn btn-secondary btn-sm add-idea">Add your idea</button>
          {% endif %}
        </div>
      </div> 

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Ideas</th>
                <th scope="col">Votes</th>
              </tr>
            </thead>
            <tbody>
              {% for idea in ideas.items %}
              <tr>
                <td>
                  <a href="/ideas/{{ idea.idea_id }}/comments">
                    {{ idea.title }}
                  </a>
                </td>
                <td>
                  {% if session.get('user_id') %}          
                    {% if idea.user_vote == 1 %}                
                      <a href="#" class='vote {{idea.idea_id}}'><i class="fas fa-check-circle" style="font-size:24px; color: green"></i></a>
                    {% else %}
                      <a href="#" class='vote {{idea.idea_id}}'><i class="fas fa-check-circle" style="font-size:24px; color: lightgray"></i></a>
                    {% endif %}
                  {% endif %}
                  <span class='total-votes {{idea.idea_id}}'>{{ idea.total_votes }}</span> votes 
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    
      <div class="row">
        <div class="col-6">
            <select name="perpage" id="perpage">
              <option value="10" {% if perpage == 10 %} selected="selected"{% endif %}>10</option>
              <option value="20" {% if perpage == 20 %} selected="selected"{% endif %}>20</option>
              <option value="50" {% if perpage == 50 %} selected="selected"{% endif %}>50</option>
            </select>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <a href="#" class="page 1"> First </a> |
          {% if ideas.has_prev %}<a href="#" class="page {{ ideas.prev_num }}">&lt;&lt; Previous </a>
          {% else %}&lt;&lt; Previous {% endif %} | 
          {% if ideas.has_next %}<a href="#" class="page {{ ideas.next_num }}">Next &gt;&gt;</a>
          {% else %}Next &gt;&gt;{% endif %} |
          {% if ideas.pages > 1 %}<a href="#" class="page {{ ideas.pages }}"> Last </a>
          {% else %} Last {% endif %}
        </div>
      </div>
      <input id="page" type="hidden" name="page" value="1">
    </div>
  </form>
  
  <script src="/static/js/handleVote.js"></script>
  <script src="/static/js/handleIdea.js"></script>
  <script src="/static/js/handleSearch.js"></script>
{% endblock %}
