{% extends 'base.html' %}
{% block title %}Lightbulb Homepage{% endblock %}

{% block body %}
  <div class="container-fluid">

    <div class="row mt-md-5 ms-md-1 mt-lg-6 ms-lg-10 me-lg-10">

      <div class="col-sm-12 col-md-5 col-lg-7 order-md-2 mb-5">
        <img src="/static/img/lightbulb.jpg" class="img-fluid">
      </div>

      <div class="col-sm-12 col-md-7 col-lg-5 order-md-1 d-md-flex flex-column justify-content-center">
        <h2>From idea to project proposal</h2>
        <p class="mt-lg-1 mb-lg-4">
          Lightbulb is a free, easy-to-use web app where you can find ideas for your future project, 
          see which project could be the most demanding one, 
          add your ideas and get feedback from the community, share yout thoughts about ideas of others.
        </p>
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-primary me-lg-2" href="/all-ideas" role="button">Look through ideas</a>
          {% if not session.get('user_id') %}
            <a class="btn btn-primary" href="/users" role="button">Join your community</a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

{% endblock %}
