{% extends 'base.html' %}

{% block title %}{{ idea.title }} - Details{% endblock %}

{% block body %}
<h1>{{ idea.title }}</h1>

<h2>Description</h2>
<a href="{{ idea.link }}/comments">
  {{ idea.link }}
</a>
<p>
  {{ idea.description }}
</p>

<div class="row">
  <div>
    {% if session.get('user_id') %}
    <!-- <button class="btn btn-secondary btn-lg {{ 'active' if session.get('user_id') else '' }}" id="add-comment">Add your comment</button> -->
      <button class="btn btn-secondary btn-lg active" id="add-comment">Add your comment</button>
      {% if session['user_id'] == idea.user_id %}
        <a class="btn btn-secondary btn-lg active" href="/ideas/{{ idea.idea_id }}" role="button">Edit your idea</a>
      {% endif %}
    {% else %}
      <button class="btn btn-secondary btn-lg" id="add-comment">Add your comment</button>
    {% endif %}
  </div>
</div>

<h2>Comments</h2>
<ul>
  {% for comment in comments %}
    <li>
      <p>
        {{ comment.user.username }}
        {% if session.get('user_id') and comment.user_id == session['user_id'] %}
          <button type="button" class="btn btn-secondary btn-sm active edit-comment" id="{{ comment.comment_id}}">Edit</button>
          <button type="button" class="btn btn-secondary btn-sm active delete-comment" id="{{ comment.comment_id}}">Delete</button>
        {% endif %}
      </p>
      <p style="white-space: pre-line">{{ comment.description }}</p>
      
      </a>
    </li>
  {% endfor %}
</ul>

<script src="/static/js/handleComment.js"></script>
{% endblock %}
