{% extends 'base.html' %}

{% block title %}Idea{% endblock %}

{% block body %}
<h2>Add your idea </h1>
  <form action="/ideas/{{ idea.idea_id }}" method="PUT">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" value="{{ idea.title if idea is defined else ''}}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" name="description" rows="10">
            {{ idea.description if idea is defined else '' }}
        </textarea>
    </div>
    <div class="form-group">
        <label for="link">Github link</label>
        <input class="form-control" id="link" value="{{ idea.link if idea is defined else ''}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
