{% extends 'base.html' %}

{% block title %}{{ user.username }} - Details{% endblock %}

{% block body %}
<h1>{{ idea.title }}</h1>

<h2>Description</h2>
<p>
  {{ idea.description }}
</p>

<div class="row">
  <div>
    <button class="btn btn-secondary btn-lg {{ 'active' if session.get('user_id') else '' }}" id="add-comment">Add your comment</button>
  </div>
</div>

<h2>Comments</h2>
<ul>
  {% for comment in comments %}
    <li>
      <p>{{ comment.user.username }}</p>
      {{ comment.description }}
      </a>
    </li>
  {% endfor %}
</ul>

<script src="/static/js/addComment.js"></script>
{% endblock %}
