{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
  <h2>Create an Account</h2>
  <form action="/users" method="POST" class="user-form">
    <p>
      Username <input type="text" name="username" class="user-parameter">
    </p>

    <p>
      Email <input type="text" name="email" class="user-parameter">
    </p>

    <p>
      Password <input type="password" name="password" class="user-parameter">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  <script src="/static/js/validateUserForm.js"></script>
{% endblock %}
