{% extends 'base.html' %}
{% block title %}All User Ideas{% endblock %}

{% block body %}
  <div class="container-fluid">

    <div class="row">

      {% if not (session.get('user_id') and session["user_id"]==user.user_id) %}
      <div class="col-12 col-md-3 order-md-1">
        <div class="border-bottom"><br>{{ user.username }}</div>
        <div class="border-bottom"><br>User since: {{ user.created.strftime('%Y-%m-%d') }}</div>
        {% if user.description %}
          <div class="border-bottom"><br>{{ user.description }}</div>
        {% endif %}
        {% if most_voted_idea %}
        <div class="border-bottom"><br>Most Voted Idea: {{ most_voted_idea.title }}</div>
        {% endif %}
      </div>

      <div class="col-12 col-md-9 order-md-2">
        <h2>Ideas</h2>
      {% else %}
      <div class="col-12">
        <h2>Your ideas</h2>
      {% endif %}


        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Ideas</th>
              <th scope="col">Votes</th>
            </tr>
          </thead>
          <tbody>
            {% for idea in ideas.items %}
            <tr>
              <td>
                <a href="/ideas/{{ idea.idea_id }}/comments">
                  <i>{{ idea.title }}</i>
                </a>
              </td>
              <td>
                <span class='total-votes {{idea.idea_id}}'>{{ idea.total_votes }}</span> votes 
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <form action="/users/{{ user.user_id }}/ideas">
          <select name="perpage">
            <option value="10"{% if perpage == 10 %} selected="selected"{% endif %}>10</option>
            <option value="20" {% if perpage == 20 %} selected="selected"{% endif %}>20</option>
            <option value="50" {% if perpage == 50 %} selected="selected"{% endif %}>50</option>
          </select>
          <input type="submit" value="Results per page">
        </form>

        <div>
          <a href="/users/{{ user.user_id }}/ideas?page={{ 1 }}&perpage={{ perpage }}"> First </a> |
          {% if ideas.has_prev %}<a href="/users/{{ user.user_id }}/ideas?page={{ ideas.prev_num }}&perpage={{ perpage }}">&lt;&lt; Previous </a>{% else %}&lt;&lt; Previous {% endif %} | 
          {% if ideas.has_next %}<a href="/users/{{ user.user_id }}/ideas?page={{ ideas.next_num }}&perpage={{ perpage }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %} |
          {% if ideas.pages > 1 %}<a href="/users/{{ user.user_id }}/ideas?page={{ ideas.pages }}&perpage={{ perpage }}"> Last </a>{% else %} Last {% endif %}
        </div>
      </div>
    </div>

  </div>
  
{% endblock %}